@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$firstFont: 'Inter', sans-serif;

$red: #FF5959;
$white: #FFFFFF;
$green: #52DF68;
$gray: #343434;
$light-gray: #969696;
$black: #292626;
$background: #4F4D4D;
