@import './css/_reset.scss';

.calculator {
  width: 352px;
  background: $black;

  &__display {
    width: 100%;
  }

  &__display-input {
    background: transparent;
    outline: transparent;
    border: 0;
    color: $white;
  }

  &__display-result {
    color: $light-gray;

    text-align: right;
    width: 100%;
    padding-right: 10px;
  }

  &__buttons {
    &--button {
      background: $white;
      color: $white;
      width: 73px;
      height: 75px;
      border-radius: 9px;
      border: 0;

      font-size: calculador-rem(36);
      text-align: right;
      width: 100%;
      padding-right: 10px;

      &:hover {
        background: lighten($gray, 30%);
      }
    }

    &--button-background-red {
      background: $red;

      &:hover {
        background: $red;
        opacity: 75%;
      }
    }

    &--button-color-green {
      color: $green;
    }

    &--button-color-gray {
      color: $gray;
    }

    &--button-background-green {
      background: $green;
      color: $gray;

      &:hover {
        background: $green;
        opacity: 75%;
      }
    }
  }

  &__buttons-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
}
